export HTTPS_PROXY='http://proxy:REPLACE_WITH_PROXY_PASSWORD@127.0.0.1:18791'
export https_proxy="$HTTPS_PROXY"
export HTTP_PROXY="$HTTPS_PROXY"
export http_proxy="$HTTPS_PROXY"
export NO_PROXY='127.0.0.1,localhost'
export no_proxy="$NO_PROXY"

